<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MULAI</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <!--Untuk Tampilan Menu Navbar-->
    <div hx-get="components/navbar/navbar.html" hx-trigger="load"></div>

    <!--Tulisan Di Home-->
  <div class="p-3 bg-dark text-white">
    <div class="p-3 mb-2">
      <section class="py-100 container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, esse!</h3>
            <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse mollitia quisquam a ipsum quos eius
              possimus magni, expedita, blanditiis ab porro saepe ea architecto reprehenderit voluptatem atque tenetur,
              amet repellendus!</h6>
            <a href="topik.html" class="btn btn-primary my-2">Jelajahi Topik</a>
          </div>
        </div>
      </section>
    </div>
  </div>
 

  
    <!--Untuk Cards Materi-->
  <div class="p-3 bg-dark text-white"></div>
    <div hx-get="components/post/post.html" hx-trigger="load" style="bg-dark"></div>  
  </div>

    <!--Untuk Tampilan Footer-->
  <div class="p-3 mb-2 bg-dark text-primary">
    <div hx-get="components/navbar/footer.html" hx-trigger="load"></div> 
  </div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/htmx.min.js"></script>
</body>

</html>