<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Topik</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  
</head>

<body>
  
<div hx-get="components/navbar/navbar.html" hx-trigger="load"></div>
<div hx-get="components/navbar/tab-topik.html" hx-trigger="load"></div>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>







  <div hx-get="components/navbar/footer.html" hx-trigger="load"></div>
  


<script src="assets/js/bootstrap.bundle.min.js" ></script>
<script src="assets/js/htmx.min.js"></script>
</body>

</html>