<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Topik</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  
</head>

<body>
  
<div hx-get="components/navbar.html" hx-trigger="load"></div>
<div hx-get="components/tab-topik.html" hx-trigger="load"></div>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>







<div class="class" style="border: 1px silver; background-color: whitesmoke;">
  <div style="display: inline-block; margin: 100px; ">
    <ul style="list-style-type: none;">
      <h5> READY TO BINGE</h5>
      <li style="margin-top: 10px; margin-bottom: 10px;">Laravel 8 Dari awal</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Belajar Tailwind</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Tes Driven Laravel</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Belajar Reac JS</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Laravel 8 Dari awal</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Belajar Tailwind</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Tes Driven Laravel</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Belajar Reac JS</li>
    </ul>
  </div>
  
  <div style="display: inline-block;  margin-right: 100px;">
    <ul style="list-style-type: none;">
      <h5> EKSPLORASI</h5>
      <li style="margin-top: 10px; margin-bottom: 10px;">Jalur</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Seri</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Topik</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Ebook</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Premium</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Seri Berbayar</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Popular</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Tranding</li>
    </ul>
  </div>
  
  <div style="display: inline-block;  margin-right: 100px;">
    <ul style="list-style-type: none;">
      <h5> SOSIAL</h5>
      <li style="margin-top: 10px; margin-bottom: 10px;">GitHub</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Facebook</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Twitter</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Instagram</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Telegram</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Youtube</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Discord</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">..</li>
    </ul>
  </div>
  
  <div style=" display: inline-block; margin-right: 100px;">
    <ul style="list-style-type: none; ;">
      <h5> Tambahan</h5>
      <li style="margin-top: 10px; margin-bottom: 10px;">FAQ</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Blog</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Harga</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Testimonial</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Kebijakan dan privasi</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Iklan</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Saweria</li>
      <li style="margin-top: 10px; margin-bottom: 10px;">Syarat&Ketentuan</li>
    </ul>
  </div>
  
  
</div>
  


<script src="js/bootstrap.bundle.min.js" ></script>
<script src="js/htmx.min.js"></script>
</body>

</html>