<div class="container py-5">
    <ul class="nav nav-pills" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">PHP</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">CSS</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Bootstrap</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link " id="Laravel-tab" data-bs-toggle="tab" data-bs-target="#Laravel" type="button" role="tab" aria-controls="home" aria-selected="true">Laravel</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link " id="Tailwind-tab" data-bs-toggle="tab" data-bs-target="#Tailwind" type="button" role="tab" aria-controls="home" aria-selected="true">Tailwind</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link " id="PIT-tab" data-bs-toggle="tab" data-bs-target="#PIT" type="button" role="tab" aria-controls="PIT" aria-selected="true">PIT</button>
      </li>
    </ul>


  <div class="tab-content py-5" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col">
           <img src="../../assets/img/php.jpg" style="width: 500px;">
          </div>
          <div class="col">
             <H2>Belajar PHP</H2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore doloremque optio reiciendis voluptatum rem ea? Magnam distinctio reiciendis, rem dolores laborum ex nesciunt, quos numquam illo, architecto dignissimos tempore!</p>
             
          </div>
        </div><br><br><br><br>
        <div hx-get="components/breadcrumb/breadcrumb-php.html" hx-trigger="load"></div>
        <div hx-get="components/topik/php-topik.html" hx-trigger="load"></div>
      </div>

      <div class="tab-pane fade show " id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col">
            <img src="../../assets/img/css.jpg" style="width: 500px;">
          </div>
          <div class="col">
             <H2>Belajar CSS</H2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore doloremque optio reiciendis voluptatum rem ea? Magnam distinctio reiciendis, rem dolores laborum ex nesciunt, quos numquam illo, architecto dignissimos tempore!</p>
             
          </div>
        </div><br><br><br><br>
        <div hx-get="components/breadcrumb/breadcrumb-css.html" hx-trigger="load"></div>
        <div hx-get="components/topik/css-topik.html" hx-trigger="load"></div>
      </div>


      <div class="tab-pane fade show " id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">
          <div class="col">
            <img src="../../assets/img/bootstrap.jpg" style="width: 500px;">
          </div>
          <div class="col">
             <H2>Belajar Bootstrap</H2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore doloremque optio reiciendis voluptatum rem ea? Magnam distinctio reiciendis, rem dolores laborum ex nesciunt, quos numquam illo, architecto dignissimos tempore!</p>
             
          </div>
        </div><br><br><br><br>
        <div hx-get="components/breadcrumb/breadcrumb-bs.html" hx-trigger="load"></div>
        <div hx-get="components/topik/bootstrap-topik.html" hx-trigger="load"></div>
      </div>


      <div class="tab-pane fade show " id="Laravel" role="tabpanel" aria-labelledby="Laravel-tab">
        <div class="row">
          <div class="col">
            <img src="../../assets/img/laravel.jpg" style="width: 500px;">
          </div>
          <div class="col">
             <H2>Belajar Laravel</H2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore doloremque optio reiciendis voluptatum rem ea? Magnam distinctio reiciendis, rem dolores laborum ex nesciunt, quos numquam illo, architecto dignissimos tempore!</p>
             
          </div>
        </div><br><br><br><br>
        <div hx-get="components/breadcrumb/breadcrumb-laravel.html" hx-trigger="load"></div>
        <div hx-get="components/topik/laravel-topik.html" hx-trigger="load"></div>
      </div>


      <div class="tab-pane fade show " id="Tailwind" role="tabpanel" aria-labelledby="Tailwind-tab">
        <div class="row">
          <div class="col">
            <img src="../../assets/img/tailwind.jpg" style="width: 500px;">
          </div>
          <div class="col">
             <H2>Belajar PHP</H2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore doloremque optio reiciendis voluptatum rem ea? Magnam distinctio reiciendis, rem dolores laborum ex nesciunt, quos numquam illo, architecto dignissimos tempore!</p>
             
          </div>
        </div><br><br><br><br>
        <div hx-get="components/breadcrumb/breadcrumb-tailwind.html" hx-trigger="load"></div>
        <div hx-get="components/topik/tailwind-topik.html" hx-trigger="load"></div>
      </div>


      <div class="tab-pane fade show " id="PIT" role="tabpanel" aria-labelledby="PIT-tab">
        <div class="row">
          <div class="col">
            <img src="../../assets/img/pti.jpg" style="width: 500px;">
          </div>
          <div class="col">
             <H2>Belajar PHP</H2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore doloremque optio reiciendis voluptatum rem ea? Magnam distinctio reiciendis, rem dolores laborum ex nesciunt, quos numquam illo, architecto dignissimos tempore!</p>
             
          </div>
        </div><br><br><br><br>
        <div hx-get="components/breadcrumb/breadcrumb-pti.html" hx-trigger="load"></div>
        <div hx-get="components/topik/pti-topik.html" hx-trigger="load"></div>
      </div>
 
    
  </div>
