<div class="container bg-dark" >
  <div class="row row-cols-1 bg-dark row-cols-sm-2 bg-dark row-cols-md-3 bg-dark g-3 ">
    <div class="col ">
      <div class="card shadow-sm bg-dark text-white">
        <img src="assets/img/php.jpg" /><text
          x="50% "
          y="50% "
          fill="#eceeef"
          dy=".3em"
          >PHP Dasar</text
        >

        <div class="card-body bg-dark text-white " >
          <p class="card-text ">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a 
                  href="../../topik-detail/php-dasar.html"
                  >View
                </a>
              </button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm bg-dark text-white">
        <img src="assets/img/bootstrap.jpg" /><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
          >Bootstrap Dasar</text
        >

        <div class="card-body bg-dark text-white">
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a
                  href="../../topik-detail/bootstrap-dasar.html"
                  >View
                </a>
              </button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm bg-dark text-white">
        <img src="assets/img/css.jpg" /><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
          >CSS Dasar</text
        >

        <div class="card-body bg-dark text-white">
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a
                  href="../../topik-detail/css-dasar.html"
                  >View
                </a>
              </button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
